.column {
  float: left;
  width: 50%;
  border-style: solid;
  text-align: center;
  padding: 3%;
}
.topping {
  font-size: 20px;
}
.topTitle {
  font-size: 40px;
  text-align: center;
  background-color:
}
.title {
  text-align: center;
  font-size: 30px;
}
.size {
  margin-top: 20px;
  /* float: left; */
  text-align: center;
}

#submit {
  margin: 4px;
}

.orderOutput {
  display: none;
}

#jf {
  opacity: 0;
}
